@model List<AllResultsViewModel>

@{
    ViewData["Title"] = "AllResults";
}

<h2>AllResults</h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Firstname</td>
            <td>@item.Lastname</td>
            <td>@item.Code</td>
            <td>@item.Description</td>
            <td>@item.When.ToString("dd-MM-yyyy")</td>
            <td>@item.Score</td>
        </tr>
    }

</table>
