@model IEnumerable<CoreMvcDemo.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultipleForms</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <form asp-route-id="@item.StudentID" asp-action="MultipleForms">
                    <input type="text" name="Firstname" value="@item.Firstname" />
                    <input type="text" name="Lastname" value="@item.Lastname" />
                    <input type="submit" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
